opencv-python==4.5.4.60
albumentations==1.1.0
pandas==1.3.5
scikit-image==0.19.1
scikit-learn==1.0.1
scipy==1.7.3
tqdm==4.62.3
pytorch-lightning==1.6.4
GitPython==3.1.27
comet-ml==3.28.1
wandb==0.12.19
setuptools==59.5.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.1+cu113
torchmetrics==0.6.2
torchvision==0.11.2+cu11
--find-links https://data.pyg.org/whl/torch-1.11.0+cu115.html
torch-sparse 
torch-cluster 
torch-spline-conv
torch-geometric
